fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
pg8000
python-dotenv
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
groq
email-validator
